<div id="<%= dom_id insurance %>">
  <p>
    <strong>Name:</strong>
    <%= insurance.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= insurance.email %>
  </p>

  <p>
    <strong>Contact name:</strong>
    <%= insurance.contact_name %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= insurance.color %>
  </p>

  <p>
    <strong><%= link_to "Users", admin_users_url(insurance_id: insurance.id) %>:</strong>
    <% insurance.users.each do | user | %>
      <%= link_to user.email, admin_user_url(id: user.id) %>
    <% end %>
  </p>

</div>
