<p style="color: green"><%= notice %></p>

<% if !@user.blank? %>
  <h1>User <%= @user.email %></h1>
  <%= render 'admin/users/user', user: @user %>
<% end %>

<h1>Insurances</h1>

<%= link_to "New insurance", new_admin_insurance_path %> &nbsp;
<%= link_to "Back home", root_path %>

<hr />

<br />

<div id="admin_insurances">
  <% @admin_insurances.each do |admin_insurance| %>
    <%= render admin_insurance %>
    <p>
      <%= link_to "Show this insurance", admin_insurance %> &nbsp;
      <%= link_to "Edit this insurance", edit_admin_insurance_path(admin_insurance) %> &nbsp;
      <%= link_to "Destroy this insurance", admin_insurance, data: { turbo_method: :delete, turbo_confirm: 'Are you sure ?' } %>
    </p>
    <br />
  <% end %>
</div>

<hr />

<%= link_to "New insurance", new_admin_insurance_path %> &nbsp;
<%= link_to "Back home", root_path %>

<br /> <br />
