<div id="<%= dom_id assignament %>">
  <p>
    <strong>Owner name:</strong>
    <%= assignament.owner_name %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= assignament.phone_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= assignament.email %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= assignament.address %>
  </p>

  <p>
    <strong>Vin number:</strong>
    <%= assignament.vin_number %>
  </p>

  <p>
    <strong>Po:</strong>
    <%= assignament.po %>
  </p>

  <p>
    <strong>Plate:</strong>
    <%= assignament.plate %>
  </p>

  <p>
    <strong>Deductible:</strong>
    <%= assignament.deductible %>
  </p>

  <p>
    <strong>Insurance aproval:</strong>
    <%= assignament.insurance_aproval %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= assignament.color %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= assignament.status[:name] %>
  </p>

  <p>
    <strong>Make:</strong>
    <%= assignament.make %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= assignament.model %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= assignament.year %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= assignament.comment %>
  </p>

</div>
