<p style="color: green"><%= notice %></p>

<br />

<div>
  <%= link_to "Edit this assignament", edit_assignament_path(@assignament), data: { turbo: false } %> &nbsp;
  <%= link_to "Back to assignaments", assignaments_path, data: { turbo: false } %>
</div>

<br />

<%= render @assignament %>

<br />

<%= button_to "Destroy this assignament", @assignament, class: 'btn waves-effect waves-light red lighten-2', method: :delete %>

<br />

<%= link_to "Create note", new_note_path(assignament: @assignament.id), data: { turbo: false } %>

<br />

<% @assignament.notes.each do |note| %>
    <%= render note %>
<% end %>

