<div id="<%= dom_id role %>">
  <p>
    <strong>Role type:</strong>
    <%= role.role_type[:name] %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= role.name %>
  </p>

  <p>
    <strong>Acronym:</strong>
    <%= role.acronym %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= role.status[:name] %>
  </p>

</div>
