<div id="<%= dom_id user %>">
  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= user.details.role[:name] %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= user.last_name %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= user.phone_number %>
  </p>

  <p>
    <strong>Additional info:</strong>
    <%= user.additional_info %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= user.details.status[:name] %>
  </p>

  <p>
    <strong><%= link_to "Insurances", admin_insurances_url(user_id: user.id) %>:</strong>
    <% user.insurances.each do | insurance | %>
      <%= link_to insurance.name, admin_insurance_url(id: insurance.id) %>
    <% end %>
  </p>

</div>
